@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra {
    background-color: v.$primary;
    color: v.$color-blanco;

    padding: 1.2rem 0;

    &__contenido {
        @include m.contenedor;
        @include m.flex(space-between, center, 1rem);

        flex-direction: column;

        @include m.respond(tablet) {
            flex-direction: row;
        }
    }

    &__logo {
        @include m.logo;
        @include m.texto-fluido(2rem, 3rem);
    }
}