@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color";

.header {

    min-height: 2rem;

    /* =====================
       CONTENEDOR
    ====================== */

    &__contenedor {
        @include m.contenedor;
        @include m.flex(center, center);
    }

    /* =====================
       NAV AREA
    ====================== */

    &__navegacion {
        padding: 4rem 0;

        @include m.flex(center, center, 2rem);

        @include m.respond(tablet) {
            justify-content: flex-end;
        }
    }

    &__form {
        @include m.flex(center, center);
    }

    /* =====================
       LINKS
    ====================== */

    &__enlace {
        @include m.enlace;
    }

    &__submit {
        @include m.enlace;
    }

    &__logout {
        @include m.enlace_logout;
    }

    &__empresa {
        @include m.enlace_empresa;
    }

    &__desplegable {
        all: unset;
        font-size: 1rem;
        font-weight: v.$font-bold;
        text-transform: uppercase;
        padding: .5rem 1rem;

        color: color.adjust(v.$text-primary, $lightness: 35%);

        @include m.transition(color);

        &:hover {
            color: v.$color-blanco;
            cursor: pointer;
        }
    }

    /* =====================
       HERO CONTENT
    ====================== */

    &__contenido {
        padding-top: 4rem;

        @include m.respond(tablet) {
            padding: 3rem;
        }
    }

    &__logo {
        @include m.texto-fluido(2rem, 8rem);
        @include m.texto-degradado(v.$primary, v.$secondary);

        text-align: center;

        @include m.respond(tablet) {
            text-align: left;
            display: inline-block;
        }
    }

    &__texto {
        font-size: 2.6rem;
        font-weight: v.$font-bold;
        color: v.$color-blanco;
        margin: 2rem 0;
        text-align: center;
        text-transform: uppercase;

        @include m.respond(tablet) {
            text-align: left;
        }

        &--modalidad {
            font-size: 2rem;
        }
    }

    &__boton {
        @include m.boton(v.$secondary, v.$color-blanco);
        text-transform: uppercase;
        margin: 2rem 0;

        @include m.respond(desktop) {
            width: auto;
        }
    }
}

.topbar__tienda{
    display:flex;
    align-items:center;
    gap:8px;
    text-decoration:none;
    color:#333;
    font-size:18px;
    font-weight:600;
}

.topbar__tienda:hover{
    color:#1e73be;
}