@use 'base/variables' as v;
@use 'base/mixins' as m;

.navegacion {

    @include m.flex(center, center);
    flex-direction: column;

    @include m.respond(desktop) {
        flex-direction: row;
    }

    &__enlace {
        @include m.transition(background-color);

        color: v.$color-blanco;
        font-size: 1.6rem;
        padding: 1.6rem 2rem;
        font-weight: v.$font-black;
        text-transform: uppercase;
        text-align: center;

        display: block;

        &:hover {
            background-color: v.$bg-surface;
            color: v.$primary;
        }

        &--actual {
            background-color: v.$bg-surface;
            color: v.$primary;
        }
    }
}