@use 'base/variables' as v;

/* =========================
   SOMBRAS
========================= */

.ds-card--flat {
    box-shadow: none;
    border: 1px solid v.$color-gris-claro;
}

.ds-card--hover {
    transition: transform .2s ease, box-shadow .2s ease;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 6px 18px rgba(0,0,0,.12);
    }
}

/* =========================
   COLORES (dashboard)
========================= */

.ds-card--primary {
    background-color: rgba(v.$primary, 0.08);
}

.ds-card--success {
    background-color: rgba(v.$success, 0.08);
}

.ds-card--warning {
    background-color: rgba(v.$warning, 0.08);
}

.ds-card--danger {
    background-color: rgba(v.$danger, 0.08);
}

.ds-card--morado {
    background-color: rgba(v.$color-morado, 0.08);
}

.ds-card--amarillo {
    background-color: rgba(v.$color-amarillo, 0.08);
}

.ds-card--amarillo .dashboard-card__icono {
    background-color: rgba(v.$color-amarillo, 0.15);

    i {
        color: v.$color-amarillo;
    }
}


.ds-card--morado .dashboard-card__icono {
    background-color: rgba(v.$color-morado, 0.15);

    i {
        color: v.$color-morado;
    }
}

.ds-card--primary .dashboard-card__icono {
    background-color: rgba(v.$primary, 0.15);

    i {
        color: v.$primary;
    }
}

.ds-card--success .dashboard-card__icono {
    background-color: rgba(v.$success, 0.15);

    i {
        color: v.$success;
    }
}

.ds-card--warning .dashboard-card__icono {
    background-color: rgba(v.$warning, 0.15);

    i {
        color: v.$warning;
    }
}

.ds-card--danger .dashboard-card__icono {
    background-color: rgba(v.$danger, 0.15);

    i {
        color: v.$danger;
    }
}
/* =========================
   ESPACIADO
========================= */

.ds-card--sm .card__body {
    padding: 1.2rem;
}

.ds-card--lg .card__body {
    padding: 3rem;
}