@use 'base/variables' as v;
@use "sass:color";

.ds-card {
    background-color: v.$bg-surface;
    border-radius: .8rem;
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow: 0 2px 8px rgba(0,0,0,.06);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &:hover {
        transform: translateY(-4px);
    }
    &:active {
        transform: scale(0.98);
    }
}

/* =========================   HEADER
========================= */

.ds-card__header {
    padding: 1.6rem 2rem;
    border-bottom: 1px solid v.$color-gris-claro;
    font-weight: v.$font-bold;
    font-size: 1.8rem;
}

/* =========================
   BODY
========================= */

.ds-card__body {
    padding: 2rem;
    flex: 1;
}

/* =========================
   FOOTER
========================= */

.ds-card__footer {
    padding: 1.5rem 2rem;
    border-top: 1px solid v.$color-gris-claro;
}
/* =========================
   DASHBOARD
========================= */
.dashboard-card {
    // display: flex;
    // flex-direction: column;
    // gap: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    height: 100%;
    cursor: pointer;
}

.dashboard-card__titulo {
    font-size: 1.3rem;
    color: v.$text-secondary;
}

.dashboard-card__valor {
    font-size: 3.6rem;
    font-weight: v.$font-bold;
    color: v.$text-primary;
    margin: auto 0; 
    text-align: center; 
    letter-spacing: .5px;
}

.dashboard-card__extra {
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: .5rem;
    // color: v.$success;
}

/* TOP (ICONO + TITULO) */
.dashboard-card__top {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard-card__icono {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0,0,0,0.05);

    i {
        font-size: 1.6rem;
        color: v.$text-primary;
    }
}


/* POSITIVO */
.dashboard-card__extra.positivo {
    color: v.$success;
}

/* NEGATIVO */
.dashboard-card__extra.negativo {
    color: v.$danger;
}

/* NEUTRO */
.dashboard-card__extra.neutro {
    color: v.$text-secondary;
}