@use 'base/variables' as v;
@use 'base/mixins' as m;

.modal{
    // position: absolute;
    // background-color: rgb(0 0 0 / .8);
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    position: fixed; /* <--- clave: usar fixed en lugar de absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.8);
    display: flex; /* centramos el formulario */
    justify-content: center;
    align-items: center;
    z-index: 9999; /* <--- aseguramos que esté arriba de todo */
    .formulario{
        background-color: v.$blanco;
        width: min(60rem, 90%);
        border-radius: 2rem;
        padding: 2rem;
        position: relative;
        transition: all 0.4s ease;
        transform: scale(0.8);
        opacity: 0;
        legend{
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 2rem;
            display: block;
        }
        input[type="text"]{
            border: 1px solid v.$gris;
            border-radius: .5rem;
        }
        .opciones{
            display: flex;
            justify-content: space-between;
        }
        .submit-nueva-tarea{
            @include m.boton_modal(v.$azul,v.$blanco);
            border-radius: .5rem;
            margin-top: 1rem;
        }
        .cerrar-modal{
            @include m.boton_modal(v.$naranja,v.$blanco);
            border-radius: .5rem;
            margin-top: 1rem;
        }
        &.animar{
            // position: relative;
            // top: 50%;
            transform: scale(1);
            opacity: 1;
        }
        &.cerrar{
            transform: scale(0.8);
            //transform: translateY(-200%);
            opacity: 0;
        }
    }
}