@use 'base/variables' as v;
@use 'base/mixins' as m;
.listado-opciones,
.listado-destinos,
.listado-cierres,
.listado-contrapartidas
{
    @include m.reset-lista;
    @include m.grid(1,1rem);
    &__opcion,
    &__destino,
    &__cierre,
    &__contrapartida{
        color: v.$azul;
        border: 1px solid v.$azul;
        padding: 1rem;
        text-align: center;
        &:hover{
            cursor: pointer;
        }
        &--seleccionado{
            @extend .listado-opciones__opcion;
            background-color: v.$azul;
            color: v.$blanco;
        }
    }
}

