@use 'base/mixins' as m;
@use 'base/variables' as v;
@use "sass:color";

/* Contenedor principal con Grid */
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;  /* 2/3 para el lado izquierdo, 1/3 para el lado derecho */
    grid-template-rows: auto; /* El contenedor ajusta la altura automáticamente */
    width: 80%;
    height: 100%; /* Toda la altura de la pantalla */
    overflow-x: hidden;
    overflow: hidden;
}

/* Panel izquierdo (busqueda, clasificacion y lista de productos) */
.left-panel {
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc; /* Añadir un borde para definir mejor la sección */
    border-radius: 1rem;   
}
/* Sección de búsqueda y clasificación, sin scroll */
.search-section{
    margin-bottom: 0px;    
}

/* Sección de categorías alineadas horizontalmente */
.classification-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 45rem;
    @include m.tablet{          
        max-width: 85rem;
    }
    @include m.xxl_desktop{
        max-width: 110rem;
    }
}
/* Contenedor de categorías con scroll horizontal oculto */
.categories-container {
    display: flex;
    overflow: hidden; /* Oculta el scroll y asegura que solo se muestre el contenido visible */
    max-width: 100%; /* Limita el ancho visible de las categorías */    
    white-space: nowrap; /* Evita que las categorías salten a la siguiente línea */
    flex-grow: 1;
    margin: 0 10px; /* Espacio entre los botones y las categorías */
}
/* Estilos para las categorías individuales */
.category {
    flex: 0 0 auto; /* Evita que las categorías se expandan y las mantiene del mismo tamaño */
    min-width: 100px; /* Ajusta el ancho según lo necesites */
    margin-right: 0.5rem;
    padding: 1rem;
    background-color: v.$azul;//#ddd;
    text-align: center;
    color: v.$blanco;
    border-radius: 4px;
    &:hover{
        background-color: color.adjust(v.$gris-claro, $lightness: 20%);
        color: v.$blanco;   
        cursor: pointer;         
    }
    
}

/* Botones para desplazarse */
.scroll-left, .scroll-right {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}
/* Sección de lista de productos con scroll */
.products-list-section {    
    flex-grow: 1; /* Toma todo el espacio disponible en el contenedor */
    overflow-y: auto; /* Permite el scroll vertical solo aquí */
    border: 1px solid #ccc; /* Añadir un borde para definir mejor la sección */

    max-height: 300px;/* Puedes ajustar esto a la altura que quieras */
    @include m.tablet{
        max-height: 600px; /* Puedes ajustar esto a la altura que quieras */
    }
  
    @include m.xl_desktop{
        max-height: 450px; /* Puedes ajustar esto a la altura que quieras */
    }
    @include m.xxl_desktop{
        max-height: 650px; /* Puedes ajustar esto a la altura que quieras */
    }
}

/* Panel derecho dividido en dos secciones (productos seleccionados y totales) */
.right-panel {
    display: grid;
    grid-template-rows: 1fr 0fr; /* 2/3 para la lista de productos seleccionados, 1/3 para los totales y pagos */
    padding: 1rem;
    box-sizing: border-box;
    background-color: #f0f0f0;
    border: 2px solid #ccc; /* Añadir un borde para definir mejor la sección */
    border-radius: 1rem;
}

/* Sección de productos seleccionados */
.selected-products {
    //overflow: hidden; /* Oculta el scroll y asegura que solo se muestre el contenido visible */
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 1rem;
    //overflow-y: auto; /* Permite el scroll vertical solo aquí */    
    @include m.tablet{
        max-height: 900px; /* Puedes ajustar esto a la altura que quieras */
    }
}

/* Sección de totales y pagos */
.totals-payment {
    background-color: #e0e0e0;
    border-radius: 1rem;
}
.operaciones-pos {
    // margin-bottom: 0px;
    margin-top: 1rem;    
    display: flex;
    justify-content: space-between;
}