@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color";
.pos-barra{
    //display: none;
    //@include m.tablet{
        background-color: v.$gris-claro;
        padding: 0rem 2rem;
        box-shadow: 1px 12px 9px -13px rgba(0,0,0, .2);
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin-right: 1rem;
    //}
    &__texto{
        font-size: 1.4rem;    
        //text-transform: uppercase;        
        font-weight: 500;
        color: color.adjust(v.$gris-oscuro, $lightness: 10%);
            
    }
    p{        
        font-size: 1.4rem;        
        span{            
            //float: right;
            font-weight: 700;
            color: color.adjust(v.$gris-oscuro, $lightness: 10%);
        }
    
    }
}

