@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    margin-top: 4rem;
    padding: 3rem 0 2rem;

    background-color: v.$bg-surface;
    color: v.$text-primary;

    border-top: 1px solid v.$color-gris-claro;

    &__grid {
        @include m.contenedor;
        text-align: center;
    }

    &__logo {
        color: v.$primary;
        white-space: nowrap;

        @include m.texto-fluido(2rem, 4rem);
    }

    &__texto {
        margin-top: 1rem;
        line-height: 1.8;
        color: v.$text-secondary;
    }

    &__copyright {
        margin-top: 3rem;
        padding-top: 2rem;

        border-top: 1px solid v.$color-gris-claro;

        text-align: center;
        font-size: 1.4rem;
        font-weight: v.$font-bold;

        &--regular {
            font-weight: v.$font-regular;
        }
    }
}